@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Red Hat Text', sans-serif;
}

.portfolio-container {
  max-width: 896px; /* Same as max-w-4xl */
  margin: 0 auto;
  padding: 0 1rem; /* Same as px-4 */
  margin-left: 130px; /* Adjusted for centering */
  margin-right: -1300px; /* Adjusted for centering */
}